@{
}

<div class="middle-box text-center animated fadeInDown">
    <h3 class="font-bold">Unauthorized Page</h3>

    <div class="error-desc">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary m-t">Home</a>
    </div>
</div>
