<appSettings>
  <!-- OAuth Web API -->
  <add key="OAuth.Client.Id.iOS" value="123"/>
  <add key="OAuth.Client.Id.Android" value="456"/>
  <add key="OAuth.Client.Secret" value="EsliteAPI"/>
  <add key="OAuth.Token.Expire.Minute" value="20160"/>
  <add key="OAuth.RefreshToken.Expire.Minute" value="43200"/>
  <add key="owin:appStartup" value="Eslite.WebAPIService.Startup" />
  <add key="OAuth.Token.Limit" value="50"/>


  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

</appSettings>
